.btn {
  background-color: #343430;
  text-align: center;
  padding: 12px 36px;
  display: flex;
  align-items: center;
  border: 0.56px solid #fff;
  font-size: 26.82px;
  font-weight: 300;
  line-height: 26.94px;
}

@media (max-width: 786px) {
  .btn {
    padding: 8px 22px;
    font-size: 18.82px;
    font-weight: 200;
    line-height: 18.94px;
  }
}
