.main {
  background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 79.86%), url("/public/assets/Video/b23e7a917555a01b66a8bddc7e92a62a.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99999;
}


.main h1 {
  font-size: 64px;
  font-weight: 200;
  line-height: 69px;
  text-align: center;
  color: var(--primery-color);
  padding-top: 59px;
}
.main h1 span {
  color: #a5efff;
  font-weight: 300;
}


.main-btn {
  display: flex;
  justify-content: center;
  padding: 287px 0 187px;
}
.main .container{
  /* background-image: 
  url("/public/assets/image/HeroBannerBG.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}