.slider-heading {
  margin: 148px 0 61px;
  text-align: center;
}
h4 {
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}
.slider-heading p {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 24px;
}
.slider-img {
  display: flex;
  justify-content: center;
  gap: 48px;
  height: 358.49px;
}
.slider-img img {
  object-fit: cover;
  width: 6%;
  transition: all 1s;
  border-radius: 10px;
}
.slider-img img:hover {
  width: 30%;
}
@media (max-width:786px) {
  .slider-img {
    gap: 12px;
    height: 198.49px;
  }
  .slider-heading {
    margin: 58px 0 58px;
  }
  h4 {
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 16px;
  }
  .slider-heading p {
    font-size: 14px;
    line-height: 20px;
    padding: 18px 10px 0 10px;
  }
}
